body {
  background-color: #10B082;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  margin-top: auto;
  padding: 20px 0;
}

/* Cards styling for 4 per row */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To add space between cards */
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px); /* 4 ta kartani bir qatorga sig'dirish uchun */
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* Kichik ekranlar uchun 2 ta kartani bir qatorga joylashtirish */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 20px); /* Juda kichik ekranlar uchun 1 ta karta */
  }
}

body {
  background-color: #10B082;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

h2{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  color: goldenrod;
}

h3{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: goldenrod;
}

p{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: goldenrod;
}

.page-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  margin-top: auto;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 calc(100% - 20px);
  }
}
